*{
    /* this is what puts margins between the boxes */
    margin: 0px;
    
}

@import url(//db.onlinewebfonts.com/c/03d5b20d124cd26dc873bd4a8e42313e?family=Suisse+Int);

body{
    
    @font-face {
        font-family: "Suisse Int'l";
        src: url("//db.onlinewebfonts.com/t/03d5b20d124cd26dc873bd4a8e42313e.eot");
        
    }
    font-size: 24px;
    color: black;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Suisse Int'l;
    
}



.flex-header-1{
    
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgb(38, 49, 49);
    padding-top: 3rem;
    padding-bottom: 3rem;
    
}

.flex-header-2{
    list-style: none;
    background-color: rgb(27, 105, 149);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    text-align: justify;
    display: inline;
}
/* this is makes our directory list horizontal */
#directory-Menu li{
    display: inline;
    padding: 9px;
}

.flex-main{
    display: flex;
    flex: 1;
}

.inventory_box{
    margin: 10px 10px;
}
.right-sidebar{
    background-color: #E5E4E2;
    padding-top: 3rem;
    flex: 1 1 5rem;
}

.main-content{
    background-color: rgb(129, 139, 129);
    padding-top: 3rem;
    flex: 3 3 ;
}

.left-sidebar{
    background-color: #E5E4E2;
    padding-top: 3rem;
    flex: 1 1 5rem;
}

.flex-footer{
    background-color: rgb(19, 36, 36);
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}



/* This will make the flex boxes stack when smaller than width */
@media all and (max-width: 540px){
    .flex-main {
        flex-direction: column;
    }
}