*{
    /* this is what puts margins between the boxes */
    margin: 0px; 
    
}
@import url(//db.onlinewebfonts.com/c/03d5b20d124cd26dc873bd4a8e42313e?family=Suisse+Int);

body{
    
    @font-face {
        font-family: "Suisse Int'l";
        src: url("//db.onlinewebfonts.com/t/03d5b20d124cd26dc873bd4a8e42313e.eot");
        
    }
    font-size: 24px;
    color: black;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Suisse Int'l;
    
}



.login {
    font-size: 20px;
}

#loginTitle{
    font-size: 30px;
}

.text_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
}

.txt_field label{
    top: 50%;
    left: 5px;
    color: #312d2d;
    transform: translateY(-50%);
    font-size: 16px;
}


/* this is makes our directory list horizontal */
#directory-Menu li{
    color: #181818;
    font-weight: 800;
    display: inline;
    padding: 4px;
    
}


.flex-header-1{
    
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgb(255, 255, 255);
    
    padding-bottom: .5rem;
    
}

.flex-header-2{
    list-style: none;
    background-color: #F4F3F1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    text-align: justify;
    display: inline;
}

#indexBodyID #indexNavID, #loginBodyID #loginNavID, #aboutBodyID #aboutNavID, #inventoryBodyID #inventoryNavID{
    
    
    background-color: rgb(100, 148, 187);
}


a:link{
    color: rgb(34, 33, 33);
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color: rgb(34, 33, 33);
    text-decoration: none;
}

a:hover{
    color:aqua;
    text-decoration: underline;
}

th{
    padding: 1rem;
    
}






.flex-main{
    display: flex;
    flex: 1;
}

.right-sidebar{
    background-color: #E5E4E2;
    padding-top: 3rem;
    flex: 1 1 5rem;
}

.main-content{
    background-color: rgb(255, 255, 255);
    padding-top: 3rem;
    flex: 3 3 ;
}

.left-sidebar{
    background-color: #E5E4E2;
    padding-top: 3rem;
    flex: 1 1 5rem;
}

.flex-footer{
    background-color: #242424;
    color: white;
    padding-top: .25rem;
    padding-bottom: .25rem;
}

#logout {
    float: right ;
}

/* This will make the flex boxes stack when smaller than width */
@media all and (max-width: 540px){
    .flex-main {
        flex-direction: column;
    }
}